firebase_functions~=0.1.0
langgraph
langchain
langsmith
langchain_openai
langchain-community
langchain_chroma
dotenv
chromadb
langgraph-checkpoint-sqlite
langgraph-checkpoint-firestore
langchain_google_firestore
streamlit
firebase-admin
icecream
langgraph-checkpoint-postgres
langgraph-checkpoint-mysql[pymysql]
psycopg[binary]
pypdf
pydantic
tavily-python
duckdb